<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:usesCleartextTraffic="true">
        <service android:name="com.example.print_service_lib.MyPrintService"
            android:permission="android.permission.BIND_PRINT_SERVICE"
            android:exported="true">

            <intent-filter>
                <action android:name="android.printservice.PrintService" />
            </intent-filter>

        </service>
    </application>
</manifest>